// You custom settings file to override Foundation defaults
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation";

// ----------------------------------------
// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "compass/css3";
// @import "foundations/settings";
// @import "foundations/function/all";
// @import "foundations/common/globals";
// @import "foundations/mixins/clearfix";

// Control which mixins you have access too

// @import "foundation/mixins/css-triangle";
// @import "foundation/mixins/font-size";

// Must include next three for semantic grid to work

// @import "foundation/mixins/respond-to";

// @import "foundation/mixins/semantic-grid";

// Must include the grid for any responsiveness

// @import "foundation/components/grid";

// Control which common styles get compiled

// @import "foundation/common/typography";
// @import "foundation/common/forms";

// Control which components you get if customizing

// @import "foundation/components/modules/buttons";
// @import "foundation/components/modules/tabs";
// @import "foundation/components/modules/ui";
// @import "foundation/components/modules/navbar";
// @import "foundation/components/modules/orbit";
// @import "foundation/components/modules/reveal";
// @import "foundation/components/modules/offcanvas";


// TESTING COMPASS WATCH, PUT CSS BELOW

/*Fonts*/
@font-face {
  font-family: 'FoundationIconsGeneral';
  src: font-url('icons/foundation-icons-general.eot');
  src: font-url('icons/foundation-icons-general.eot?#iefix') format('embedded-opentype'),
       font-url('icons/foundation-icons-general.woff') format('woff'),
       font-url('icons/foundation-icons-general.ttf') format('truetype'),
       font-url('icons/foundation-icons-general.svg#FoundationIconsGeneral') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'FoundationIconsSocial';
    src: font-url('icons/foundation-icons-social.eot');
    src: font-url('icons/foundation-icons-social.eot?#iefix') format('embedded-opentype'),
         font-url('icons/foundation-icons-social.woff') format('woff'),
         font-url('icons/foundation-icons-social.ttf') format('truetype'),
         font-url('icons/foundation-icons-social.svg#FoundationIconsSocial') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*Hompepage*/
.featured { position: relative; margin-bottom: 20px; }
.featured ul { position: absolute; bottom: 0; left: 280px; z-index: 1000; }
.featured .orbit-wrapper .content { position: absolute; top: 80px; left: 80px; width: 200px }
#featured { background: image-url("spinner.gif") center center #f4f4f4; height: 300px; }
#featured div { display: none; }
#featured.orbit { background: none; }
#featured.orbit div { display: block; }

/*Events*/
.date {
  border: 1px solid #ddd;
  li {
    list-style:none;
    text-align:center;
  }
  .month {
    background: #4D4D4D;
    text-transform: uppercase;
    color: #fff;
    font-size: ms(-1);
  }
  .day {
    font-size: ms(3);
  }
}

/*General Styles*/
header,
footer {
    background:#fafafa;
}
.glyph {
  font-family: 'FoundationIconsGeneral';
  &.social {
    font-family: 'FoundationIconsSocial';
    font-size: 24px;
  }
}
.reveal-modal .row {
    width:auto !important;
    max-width: 106%;
    margin-left:-($columnGutter / 2);
    margin-right:-($columnGutter / 2);
}
.right {
  float: right;
}
.left {
  float: left;
}


/* Progress Bar */
.progress-bar {
  width: 100%;
  height: 30px;
  border: solid 1px #888;
  .progress-status {
    width: 40%;
    height: 100%;
    background: #ddd;
  }
}
.sticky {position:fixed; top:10px;}
